# Dependencies
/node_modules/
.pnp/
.pnp.js

# Build / Output
/dist/
/build/

# Environment Variables
.env
.env.*.local

# System Files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor Config
.vscode/

# Coverage Reports
/coverage/
